<br />
<ul>
  <% @comments.each do |comment| %>
    <% next unless comment.persisted? %>
    <li><%= comment.user.present? ? comment.user.full_name : 'Anonym' %> : <%= comment.text %>

      <% if comment.user.present? && comment.user == current_user %>
        <%= link_to 'Delete',
                      product_comment_path(@product, comment),
                      method: :delete, class: 'btn btn-default', remote: true %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if @comment.errors.present? %>
  <ul>
    <% @comment.errors.messages.each do |field, message| %>
      <li><%= field %>: <%= message.join(' | ') %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for [@product, @comment], remote: true do |form| %>
  <br>
  <%= form.text_area :text, placeholder: 'your comment' %> <br>
  <%= form.submit %>
<% end %>
