<p></p>
<div class="products__view">
  <main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Products List</h1>
        <div class="product__list">
          <ul>
            <% @products.each do |product| %>
              <li>
                <%= link_to product.name, product_path(id: product.id) %>
                <%= price_format (product.price) %> |
                <%= link_to 'Edit', edit_product_path(id: product.id) %> |
                <%= link_to 'Delete', product_path(id: product.id), method: :delete %>

                <!--Another delete method-->
                <!--<%= form_for product, method: :delete do |f| %>-->
                  <!--<% f.submit 'Delete' %>-->
                  <!--<% end %>-->
              </li>
            <% end %>
          </ul>

          <%= paginate @products, :theme => 'twitter-bootstrap-4' %>

        </div>
        <div class="active">
          <p>
            <a class="btn btn-primary" href="<%= new_product_path %>" role="button">NEW PRODUCT &raquo;</a>
          </p>
        </div>

      </div>
    </div>
  </main>
</div>



