<!DOCTYPE html>
<html>
  <head>
    <title>Sklep</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

  	<h1>
      <%= link_to 'Sklep', root_path %>
    </h1>

    <div class="container">
      <%= yield %>
    </div>

    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '195033614561357',
                xfbml      : true,
                version    : 'v2.12'
            });
            FB.AppEvents.logPageView();
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>
</html>
